* {
    margin: 0;
    padding: 0;
}

.headd {
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    /* position: relative; */
    /* top: 70px; */
}

#f-3 i {
    position: relative;
    right: 70px;
    /* margin: 0 auto; */
    padding: 20px;
    /* right: 70px; */
}

.f6-9 {
    display: flex;
    flex-direction: row;
    /* margin: 4px; */
    /* padding: 4px; */
    justify-content: space-between;
    position: relative;
    left: 100px;
}

.f6-9 h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    position: relative;
    margin: 0px;
    padding: 15px;
    left: 110px
}

button {
    position: relative;
    /* bottom: 15px; */
    height: 30px;
    width: 100px;
    text-align: center;
    top: 10px;
    left: 120px;
    border-color: rgb(251, 250, 250);
    color: black;
    border: 1px solid black;
}

#i1 {
    position: relative;
    left: 70px;
}

.im1 {
    position: relative;
    left: 50px;
    align-items: center;
    width: 170px;
    height: 70px;
}

.sec-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgb(205, 203, 203);
    /* text-decoration: none; */
    height: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    /* position: fixed; */
    background-color: rgb(210, 210, 210);
    height: 550px;
}

.l1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.m1 {
    padding: 30px 0px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.l2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.m2 {
    padding: 30px 0px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ss {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.l3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.m3 {
    padding: 30px 0px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.l4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.m4 {
    padding: 30px 0px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.l5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.m5 {
    padding: 30px 0px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.l6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.m6 {
    padding: 30px 0px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.l7 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.m7 {
    padding: 30px 0px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ver-line {
    width: 1px;
    height: 200px;
    background-color: rgb(96, 95, 95);
    margin-top: 30px;
    /* margin: 0 auto; */
}

.glo2 {
    width: 130px;
    height: 70px;
    margin-top: 0px;
    margin-left: 10px;
    position: relative;
    top: 10px;
    /* text-align: right; */
}

.last-nav {
    position: relative;
    left: 1060px;
    width: 200px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* justify-content: flex-end; */
}

.foo-hr {
    background-color: black;
    color: black;
    margin: 20px;
}

.last-line {
    width: 2px;
    height: 35px;
    background-color: black;
}

.last-sec-nav {
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    position: relative;
    top: 20px;
    left: 350px;
}

.copy {
    position: relative;
    top: 45px;
    text-align: center;
    color: rgb(87, 85, 85);
}

.d1 {
    width: 250px;
}

.d2 {
    width: 550px;
}

.d3 {
    width: 335px;
}


/*    main    */

#f-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 50px;
}

.hr-coln {
    width: 0.3px;
    height: 670px;
    background-color: rgb(113, 112, 112);
    margin: 10px;
}

.hr-coln-1 {
    width: 0.6px;
    height: 670px;
    background-color: rgb(113, 112, 112);
    margin: 10px;
}

hr {
    /* width: 0.5px; */
    /* color: rgb(92, 92, 92); */
    margin: 30px 5px 30px 5px;
    background-color: rgb(169, 167, 167);
    border-color: rgb(188, 188, 188);
}

.dphoto {
    display: flex;
    flex-direction: row;
}

.d2photo {
    width: 430px;
}

.img1 {
    position: relative;
    left: 450px;
    bottom: 100px;
}

.img4 {
    position: relative;
    bottom: 50px;
    margin: 11px;
}

.im-4 {
    position: relative;
    top: 85px;
}

.hr-1 {
    /* width: 0.5px; */
    position: relative;
    bottom: 50px;
}

main {
    /* margin: 0ppx; */
    margin-left: 10px;
    margin-right: 20px;
    /* height: 4530px; */
}

.r1 {
    width: 800px;
    position: relative;
    right: 20px;
    bottom: 100px;
    margin: 25px;
}

.ch-h {
    position: relative;
    bottom: -40px;
    left: 20px;
    /* display: flex; */
    /* flex-direction: row; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ch-1st {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.ch-2nd {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.ch-3rd {
    width: 400px;
    display: flex;
    flex-direction: column;
}

#icon {
    margin-bottom: 15px;
    color: red;
}

#china {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: -65px;
}

.mo-h {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ch-h2 {
    height: 530px;
    position: relative;
    bottom: 40px;
}

.r4 {
    position: relative;
    /* bottom: 2940px; */
}

.sou-h {
    position: relative;
    bottom: 0px;
    left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sou-1st {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.sou-2nd {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.sou-3rd {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.sou-1h {
    margin: 20px;
    height: 560px;
    position: relative;
    bottom: 20px;
}

#source {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 20px;
}

.r6 {
    position: relative;
    /* bottom: 2960px; */
}

.li-h {
    position: relative;
    left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.li-1st {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.li-2nd {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.li-3rd {
    width: 350px;
    display: flex;
    flex-direction: column;
}

#life {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 20;
}

.li-1h {
    margin: 20px;
    height: 500px;
    position: relative;
    bottom: 28px;
}

hr {
    background-color: rgb(187, 184, 184);
    color: rgb(216, 216, 198);
}

h5 {
    margin-top: 8px;
    /* font-size: smaller; */
    /* font-family:; */
    color: rgb(101, 99, 99);
}